<p >Identifier: <code id="pkg"></code></p>
<div>
    <input id="pkgnametext" type="text" class="form-control" placeholder="Identifier" style="width: 250px;display: inline-block">
    <button type="submit" id="pkgname" class="btn btn-success " style="width: 90px;height: 32px;margin-bottom: 2px">Confirm</button>
</div>
<div class="table-responsive col-sm-8 pre-scrollable" style="max-height: 600px;padding-left: 0px;padding-right: 0px; margin-top: 5px;">
    <table class="table table-striped table-bordered" style="table-layout:fixed;word-break:break-all;">
       <thead>
           <tr>
             <th style="width: 25%">Identifier</th>
             <th style="width: 25%" >ApplicationName</th>
             <th style="width: 10%" >Pid</th>
           </tr>
       </thead>
       <tbody id="outputappname"></tbody>
    </table>
</div>