<p style="color: #337ab7;margin: 5px 0px;"> Output Console <span class="glyphicon glyphicon-remove clickable" aria-hidden="true" onclick="clear_stackMessage()"  ></span></p>
<div class="table-responsive pre-scrollable" style="min-height: 700px;" id="stackoutputTb">

    <table class="table table-striped table-bordered" style="table-layout:fixed;word-break:break-all;">

       <thead>
           <tr>
             <th style="width: 30%">MethodName</th>
             <th style="width: 70%">Stack</th>
           </tr>
       </thead>

       <tbody id="stackoutputBody"></tbody>

    </table>
</div>